[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=GRead
Comment=A Google Reader client with offline capabilities. Can work Offline (synchronize at startup). Works on all platforms where PyQt is available.
Exec=/opt/GRead/gread.py
Icon=GRead
X-Icon-path=/usr/share/icons
X-Window-Icon=GRead
Type=Application
X-Osso-Service=com.nokia.gread
X-Osso-Type=application/x-executable
